 Fargekoder{
 color: #022b3a;
 color: #1f7a8c;
 color: #bfdbf7;
 color: #e1e5f2;
 color: #ffffff; 
 Gentle Sea Breeze
 https://coolors.co/palette/022b3a-1f7a8c-bfdbf7-e1e5f2-ffffff
 }

 body {

  background-color:#bfdbf7;
 }