 Fargekoder{
 color: #022b3a;
 color: #1f7a8c;
 color: #bfdbf7;
 color: #e1e5f2;
 color: #ffffff; 
 Gentle Sea Breeze
 https://coolors.co/palette/022b3a-1f7a8c-bfdbf7-e1e5f2-ffffff
 }

 body {
    background-color:#bfdbf7;
 }

 header {
    background-color: #022b3a;
    color:#e1e5f2;;
 }

 meny{
  background-color: #022b3a;  
  color: #e1e5f2;
 }

 main{
    background-color: #bfdbf7;
    color: #1f7a8c;
 }

  footer{
    width: 50%; 
    margin: auto;
  background-color: #022b3a;  
  color: #e1e5f2;
 }