 Fargekoder{
 color: #022b3a;
 color: #1f7a8c;
 color: #bfdbf7;
 color: #e1e5f2;
 color: #ffffff; 
 Gentle Sea Breeze
 https://coolors.co/palette/022b3a-1f7a8c-bfdbf7-e1e5f2-ffffff
 }

 {
  box-sizing: border-box;
}

 body {
    background-color:#bfdbf7;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}



 nav{
  background-color: #022b3a;  
  color: #e1e5f2;
  max-width: 100%;
  height: 80px;
 }

 main{
    background-color: #bfdbf7;
    color: #1f7a8c;
 }

 

  footer{
    width: 50%; 
    margin: auto;
  background-color: #022b3a;  
  color: #e1e5f2;
 }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
